/* Styles for addPost page */

main {
    display: flex;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 90%;
    max-width: 400px;
    min-width: 250px;
    margin: 50px auto;
    padding: 30px;

    background-color: lightgray;
    border-radius: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Descendant selector */
.post-container label {
    width: 90px;
    text-align: right;
    flex-shrink: 0;
}

#post-body {
    flex: 1;
    height: 120px;
}

#file-selector {
    flex: 1;
    min-width: 0;
}

#file-selector::file-selector-button {
    padding: 5px 10px;
    border: 1px solid #636262;
    background-color: #888;
    color: white;
    cursor: pointer;
}

.create-post-button {
    align-self: center;
    margin-top: 20px;

    background-color: #4189d2;
    color: white;
    padding: 6px 15px;
    cursor: pointer;
}

/* Adjacent sibling selector */
label + textarea {
    border-color: #888;
}

/* General sibling selector */
textarea ~ input {
    font-family: inherit;
}