main{
    display: flex;
    justify-content: center;
}

.login-box {
    background-color: lightgrey;
    width: 90%;
    max-width: 400px;
    margin: 140px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 16px;
}

/* Descendant selector */
.login-box form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

/* Child selector */
.login-box > h1 {
    font-size: 28px;
    font-family:monospace ;
}

/* Adjacent sibling */
.login-box h1 + p{
    color: #4189d2;
}

/* General sibling */
.login-box h1 ~ p{
    font-family: monospace;
    font-size: 17px;
    font-weight:400;
    margin: 5px;
}

.login-button {
    background-color: #4189d2;
    color: aliceblue;
}